body {
    font-family: 'Roboto', sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#form {
    height: 100%;
}
.container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 200px 0;
}
.form-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 6px 1px rgba(160,160,160,1);
}
.left-block {
    width: 40%;
    background: #33d2fd;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left-block svg {
    width: 100%;
    margin: 0 30px;
}
.form-block {
    width: 60%;
    padding: 80px 0;
}
.form {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.form-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.form-name {
    cursor: pointer;
    color: #818587;
    font-size: 16px;
}
.form-input {
    width: 65%;
    padding: 15px 15px;
    background: #fcfcfd;
    border: 1px solid #dfe7ea;
    border-radius: 5px;
    outline: none;
    color: #c8d3dc;
    box-sizing: border-box;
}
.gender-block {
    width: 65%;
    display: flex;
}
.gender-button-block {
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #818587;
    margin-right: 20px;
}
.gender-button-block span {
    margin-left: 25px;
}
.gender-button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    background: #fcfcfd;
    box-sizing: border-box;
}
.gender-button svg {
    width: 30px;
    height: 30px;
}
.gender-button svg path {
    fill: #dfe7ea;
}
.gender-woman {
    transform: rotate(230deg);
}
.gender-man {
    transform: rotate(136deg);
}
.active-gender-button {
    background: #95eb75;
}
.active-gender-button svg path {
    fill: #fff;
}
.form-input::-webkit-input-placeholder {
    color: #c8d3dc;
}
.country-input {
    margin-bottom: 60px;
}
.subscription-select {
    width: 65%;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}
.subscription-select button {
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
}
.bronse {
    color: #fbb03b;
}
.silver {
    color: #998675;
}
.gold {
    color: #fcee21;
}
.block-button {
    width: 65%;
    display: flex;
    padding-top: 80px;
    box-sizing: border-box;
}
.block-button button{
    padding: 15px 0;
    width: 50%;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}
.button-cancel {
    margin-right: 10px;
    background: #f5f8f9;
    color: #818587;
}
.button-save {
    margin-left: 10px;
    background: #95eb75;
    color: #fff;
}
@media screen and (max-width: 1000px) {
    .form-container {
        flex-direction: column;
    }
    .left-block {
        width: 100%;
    }
    .left-block svg {
        margin: 30px 0;
        width: 60%;
    }
    .form-block {
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .form-block {
        padding: 50px 0 80px;
    }
    .form {
        width: 90%;
    }
    .block-button {
        padding-top: 35px;
    }
}
@media screen and (max-width: 600px) {
    .gender-block {
        flex-direction: column;
    }
    .gender-button-block:first-child {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 450px) {
    .form-field {
        flex-direction: column;
        align-items: start;
    }
    .form-name {
        margin-bottom: 10px;
    }
    .form-input {
        width: 100%;
    }
    .gender-block {
        flex-direction: row;
        width: 100%;
        padding-top: 10px;
    }
    .gender-button-block {
        width: 50%;
        flex-direction: column;
        justify-content: center;
        margin-right: 0;
    }
    .gender-button {
        margin-bottom: 15px;
    }
    .gender-button-block span {
        margin-left: 0;
    }
    .subscription-select {
        width: 100%;
        justify-content: space-between;
    }
    .block-button {
        width: 100%;
    }
}